<p style="color: green"><%= notice %></p>

<h3>Username:</h3>
<p><%= @user.username %></p>


<h3>Club memberships</h3>
<ul>
<% @user.beer_clubs.each do |bc|%>
<li><%= "#{bc.name}, #{bc.city}" %></li>
<% end %>
</ul>

<p><%= "Has made #{@user.ratings.count} #{'rating'.pluralize(@user.ratings.count)}, average rating #{@user.average_rating}"  %></p>
<p><strong>ratings</strong></p>
<ul>
  <% @user.ratings.each do |r| %>
    <li>
    <%= "#{(Beer.find_by id: r.beer_id).name}"  %>
    <%= "#{(Rating.find_by beer_id: r.beer_id).score}"  %>
    <%= link_to 'Delete', r, data: { turbo_method: :delete } %>
    </li>
  <% end %>

</ul>
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
