<%= render @user %>

<% if !current_user.nil? && current_user.admin %>
  <%= link_to "change account status", toggle_account_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-primary" %>
<% end %>

<p><strong>Member of</strong></p>
<ul>
  <% @user.beer_clubs.each do |bc|%>
    <li><%= link_to "#{bc.name}", beer_club_path(bc.id) %></li>
  <% end %>
</ul>

<p><strong>ratings</strong></p>
<ul class="ratings">
  <% @user.ratings.each do |r| %>
    <li>
    <%= "#{(Beer.find_by id: r.beer_id).name}"  %>
    <%= "#{r.score}"  %>
    <% if @user == current_user %>
      <%= link_to 'Delete', r, data: { turbo_method: :delete } %>
    <% end %>
    </li>
  <% end %>

</ul>
<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user), class: "btn btn-primary" %> |
  <% end %>
  <%= link_to "Back to users", users_path, class: "btn btn-primary"%>

  <% if @user == current_user %>
    <%= button_to "Destroy this user", @user, method: :delete, class: "btn btn-danger" %>
  <% end %>
</div>
