<p style="color: green"><%= notice %></p>

<%= render @style %>

<div>
  <strong><p>Beers:</p></strong>
  <ul>
   <% @style.beers.each do |b| %>
     <li> 
      <%= b.name %>
     </li>
   <% end %>
  </ul>
</div>

<div>
  <%= link_to "Edit this style", edit_style_path(@style) %> |
  <%= link_to "Back to styles", styles_path %>

  <%= button_to "Destroy this style", @style, method: :delete %>
</div>
